.u12-data-protection-notice{position:fixed;width:100%;bottom:0;left:0;z-index:9999}
#u12a{display:none;box-sizing:border-box;width:100%;background-color:#657786;max-height:40vh;overflow-y:auto;padding-top:1.5rem;padding-right:5%;padding-bottom:1.5rem;padding-left:5%;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif}
#u12a::-webkit-scrollbar{-webkit-appearance:none}
#u12a::-webkit-scrollbar:vertical{width:11px}
#u12a::-webkit-scrollbar-thumb{border-radius:8px;border:2px solid #657786;background-color:#fff}
#u12a.is-active{display:block}
#u12a .u12a-eu-cookie-notice__item{width:100%}
@media(min-width:900px){#u12a .u12a-eu-cookie-notice__item{display:flex;align-items:center;max-height:100%}
}
@media(min-width:900px){#u12a .u12a-eu-cookie-notice__content{display:flex;width:75%;max-width:1020px;align-items:center;float:none;margin-left:auto;margin-right:auto}
}
@media(min-width:1400px){#u12a .u12a-eu-cookie-notice__content{width:55%}
}
#u12a .u12a-eu-cookie-notice__copy{text-align:center}
@media(min-width:900px){#u12a .u12a-eu-cookie-notice__copy{text-align:left}
}
#u12a .u12a-eu-cookie-notice__copy p{color:#fff}
#u12a .u12a-eu-cookie-notice__copy a{color:#fff;text-decoration:underline}
@media(min-width:900px){#u12a .u12a-eu-cookie-notice__copy p:last-child{padding-bottom:0}
}
@media(min-width:900px){#u12a .u12a-eu-cookie-notice__choice{margin-left:15px}
}
#u12a .u12a-eu-cookie-notice__choice-list{text-align:center;padding-left:0}
@media(min-width:900px){#u12a .u12a-eu-cookie-notice__choice-list{text-align:left}
}
#u12a .u12a-eu-cookie-notice__choice-list li{display:inline-block;list-style:none;margin-right:1.5rem}
#u12a .u12a-eu-cookie-notice__choice-list li:not(:last-child){margin-bottom:10px}
#u12a .u12a-eu-cookie-notice__choice-list li:last-child{margin-right:0}
@media(min-width:900px){#u12a .u12a-eu-cookie-notice__choice-list li{margin-right:0}
}
#u12a .u12a-eu-cookie-notice__button{min-width:120px;background-color:transparent;border-radius:18px;padding-top:9px;padding-right:24px;padding-bottom:9px;padding-left:24px;text-align:center;font-weight:700;font-size:14px;border-color:transparent}
#u12a .u12a-eu-cookie-notice__button:hover{cursor:pointer;text-decoration:underline}
#u12a .u12a-eu-cookie-notice__button--accept{background-color:white;color:#1a76cc}
.u12a-eu-cookie-notice__hidden{display:none}
#u12 .u12-data-protection-notice__item--a{display:none}
#u12 .u12-data-protection-notice__item--a.is-active{display:block}
#u12b{box-sizing:border-box;width:100%;background-color:#657786;max-height:40vh;overflow-y:scroll;padding-top:1.5rem;padding-right:5%;padding-bottom:1.5rem;padding-left:5%;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif}
#u12b::-webkit-scrollbar{-webkit-appearance:none}
#u12b::-webkit-scrollbar:vertical{width:11px}
#u12b::-webkit-scrollbar-thumb{border-radius:8px;border:2px solid #657786;background-color:#fff}
@media(min-width:900px){#u12b{display:flex;align-items:center;max-height:100%;overflow-y:hidden}
}
#u12b .u12b-opt-in__item{width:100%}
@media(min-width:900px){#u12b .u12b-opt-in__content{display:flex;width:75%;max-width:1020px;float:none;margin-left:auto;margin-right:auto}
}
@media(min-width:1400px){#u12b .u12b-opt-in__content{width:55%}
}
#u12b .u12b-opt-in__copy{text-align:center}
@media(min-width:900px){#u12b .u12b-opt-in__copy{text-align:left}
}
#u12b .u12b-opt-in__copy p{color:#fff;font-family:-apple-system,BlinkMacSystemFont,"Segoe UI",Helvetica,Arial,sans-serif;font-size:18px}
#u12b .u12b-opt-in__copy a{color:#fff;text-decoration:underline}
@media(min-width:900px){#u12b .u12b-opt-in__copy p:last-child{padding-bottom:0}
}
@media(min-width:900px){#u12b .u12b-opt-in__choice{margin-left:15px}
}
#u12b .u12b-opt-in__choice-list{text-align:center;padding-left:0}
@media(min-width:900px){#u12b .u12b-opt-in__choice-list{text-align:left}
}
#u12b .u12b-opt-in__choice-list li{display:inline-block;list-style:none;margin-right:1.5rem}
#u12b .u12b-opt-in__choice-list li:not(:last-child){margin-bottom:10px}
#u12b .u12b-opt-in__choice-list li:last-child{margin-right:0}
@media(min-width:900px){#u12b .u12b-opt-in__choice-list li{margin-right:0}
}
#u12b .u12b-opt-in__button{min-width:120px;background-color:transparent;border-radius:18px;padding-top:11px;padding-right:24px;padding-bottom:11px;padding-left:24px;font-size:14px;font-weight:700;line-height:1;text-align:center;border-color:transparent}
#u12b .u12b-opt-in__button:hover{cursor:pointer;text-decoration:underline}
#u12b .u12b-opt-in__button--accept{background-color:white;color:#1a76cc}
#u12b .u12b-opt-in__button--decline{color:#fff;border-color:#fff;border-style:solid;border-width:1px}
.u12-data-protection-notice__item ~ .u12-data-protection-notice__item{margin-top:-1.5rem;padding-top:1.5rem}
@media(min-width:900px){.u12-data-protection-notice__item ~ .u12-data-protection-notice__item{padding-top:0}
}
.u12-data-protection-notice__item.is-active ~ .u12-data-protection-notice__item .u12b-opt-in__content{border-top:solid 1px #fff;padding-top:3rem}
.u12-data-protection-notice__item.is-hidden{display:none}